# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.pytest_cache/
.env

# Downloads and Cache
ffmpeg-master-latest-win64-gpl/
err.txt

# Data and Logs
data/
!data/.gitkeep
logs/
*.log

# Models and VectorDB
/models/
data/chroma_db/
data/models/
*.bin
*.model
*.pt
*.safetensors

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
colab_training.ipynb_checkpoints/
.ipynb_checkpoints/
node_modules/
.DS_Store
